{{ $Month := .Month }}
  <table>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  {{ range .Weeks }}
    <tr>
    {{ range . }}
      <td class="calendar-day">
        {{ if eq (dateFormat "2006-01" .Date) $Month }}
          <p>{{ dateFormat "2" .Date }}</p>
          {{ if .Picture }}
            <a href="/{{ .Date }}"><img src="/thumbs/{{ .Date }}.jpg" /></a>
          {{ else }}
            <img src="/thumbs/404.jpg" />
          {{ end }}
        {{ else }}
            <img src="/thumbs/404.jpg" />
        {{ end }}
      </td>
    {{ end }}
    </tr>
  {{ end }}
  </table>
</div>
