body {
  font-family: 'Fira Mono', monospace;
}

.calendar-day {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("/thumbs/404.jpg");
  background-size: cover;
}

.calendar-day p {
  position: absolute;
  color: white;
  top: 0;
  left: 5px; 
}

.calendar-day img {
  width: 100%;
}

.container {
  margin-bottom: 100px;
}

h1 {
  margin-top: 25px;
  margin-bottom: 100px;
}

h2.header {
  margin-bottom: 40px;
}

a, a:active, a:hover, a:link {
  color: #555555;
  text-decoration: none;
}
